body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,caption,cite,code,dfn,th,var,em{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,a img{border:none;outline:none;}
ol, ul{list-style:none}
*{box-sizing: border-box;}
li{list-style-type:none}
.alR{text-align:right;}
.alL{text-align:left;}
.alC{text-align:center;}
.alM{vertical-align:middle;}
body{font:14px "Microsoft Yahei",Arial,Helvetica,sans-serif,Simsun,Times new roman;color:#666;background-color:#f6f6f6;overflow-x:hidden;}
a{color:#666;text-decoration:none;outline:none;}
a:hover{text-decoration:none;color:red;}
.white, a.white{color:#fff;}
.gray, a.gray{color:#999;}
.c5,a.c5{color:#555;}
.c3,a.c3{color:#333;}
.blue,a.blue{color:#2fb0e7;}
.fB{font-weight:bold}
.fI{font-style:italic}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f24{font-size:24px;}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh25{line-height:25px}
.lh30{line-height:30px}
.lh35{line-height:35px}
.lh40{line-height:40px;}
.left{float:left;color: #0068a6}
.right{float:right;}
.clear{clear:both;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.hid{display:none;}
.OverH{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mt5{margin-top:5px;}
.ml20{margin-left:20px;}
.mr5{margin-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pt20{padding-top:20px;}
.pa20{padding: 20px!important}
.pa10{padding: 10px!important}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.ml10{margin-left:10px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px!important;}
.mt40{margin-top: 40px;}
.mr10{margin-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom: 30px;}
.mr30{ margin-right:30px;}
.bk30{height: 30px;}
.unLine, .unLine a{text-decoration:none}
.U,.U a{text-decoration:underline;}
.fn{font-weight:normal;}
.noB{border:none;}
.hand{cursor:pointer;}
.WB{word-wrap:break-word;}
.wn{white-space:nowrap;}
.lr5{padding:0 5px;}
.ov{overflow:hidden;}
.rel{position:relative;}
.bg-white{background:white!important;}
.bg-e6e6e6{background:#e6e6e6!important;}
.bg-fafafa{background-color: #fafafa!important}
.bg-blue{background: #00a0da!important}
.bg-black{background: black!important}
.pull-left{float: left!important}
.pull-right{float: right!important;}
.hidden{display: none!important}
.txt-left{text-align: left!important}
.txt-white{color: white!important}
.bg-gray{background: #333}
.pb40{padding-bottom: 40px;}
/*2018-9-11*/
.wp100{width: 100%;min-width: 1200px;}
.wp90{width: 90%}
.wp80{width: 80%}
.wp70{width: 70%}
.wp60{width: 60%}
.wp50{width: 50%}
.wp40{width: 40%}
.wp38{width: 38%}
.wp30{width: 30%}
.wp28{width: 28%}
.wp20{width: 20%}
.wp10{width: 10%}
.wp5{width: 5%}
.t-gray{color: #333}
.w1200{width: 1200px;margin:0 auto;}
.bg-f4f4f4{background: #f4f4f4;}
.t-red{color: red}
.fl{float: left;}
.fr{float: right;}
.ovhidden{overflow: hidden;}
.bk40{height: 40px;width: 100%;background: none}
.text-1{overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap}
.text-2{
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-3{
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ba-1-gray{border:1px solid #e4e4e4;}
.br-1-gray{border-right:1px solid #e4e4e4;}
.shadow{box-shadow: 0 0 10px 2px #e4e4e4;background: white}


/*head*/
.topnav{position: relative;overflow: hidden;height: 135px;background: white;padding-top: 20px;}
.topnav .logos{float: left;height: 75px;width: 30%}
.topnav .logos img{width: 100%;}
.topnav .menus{float: left;height: 75px;padding-top: 30px;width: 70%;padding-left: 40px;}
.topnav .menus li{float: left;line-height: 35px;}
.topnav .menus li a{font-size: 16px;display: block;padding:0 15px;position: relative;}
.topnav .menus .cur{background: #8ac626;color: white}
.topnav .menus .cur a{color: white}
.topnav .menus li a em{display: none;background: url(../pc/img/arr.png) no-repeat center;width: 20px;height: 20px;background-size:100%;
position: absolute;bottom: -15px;left: 35%;z-index: 3}
.topnav .menus li a:hover{text-decoration: none}
.topnav .menus li .submenu{display: none;position: absolute;z-index: 2;padding-top:15px;color: white;/*right: 25%*/}
.topnav .menus li .submenu a{color: white;line-height: 35px;font-size: 16px;
  display: inline-block;margin:0 5px;}
.topnav .menus .on .submenu{display: block}
.topnav .menus .on a em{display: block;}
.topnav .cbg{position: absolute;width: 100%;height: 35px;line-height: 35px;background:#8ac626;left: 0;bottom: 0;}
.topnav .menus li:nth-child(3) .submenu{left: 30%}
.topnav .menus li:nth-child(4) .submenu{left: 45%}
/*banner*/

.banner{height: auto;overflow: hidden;position: relative;}
.banner .bd li img{width: 100%;height: auto;}
.banner .hd{position: absolute;left: 0;bottom: 10%;width: 100%;height: 20px;}
.banner .hd ul{margin:0 auto;}
.banner .hd ul li{width: 20px;height:20px;border-radius: 20px;display: inline-block;margin:0 5px;background: white}
.banner .hd ul .on{background: red}

/*index*/
.part1{margin-top: -80px;overflow: hidden;z-index: 2;position: relative;}
.part1 .item{float: left;width:300px;height: 177px;padding:5px;background: white}
.part1 .item .imgs{width: 290px;height: 167px;position: relative;padding-top: 30px;}
.part1 .item .imgs h4{display: block;color: white;font-size: 24px;font-weight: bold;padding-left: 20px;}
.part1 .item .imgs .jump{position: absolute;bottom: 15px;right: 15px;border-radius: 3px;border:1px solid white;color: white;line-height: 30px;padding:0 10px;}
.part1 .item .imgs .jump:hover{background: rgba(0,0,0,0.5);text-decoration: none;}
.part1 .item .imgs .jump a{text-decoration: none;}

.bg1{background: url(../pc/img/bg1.png)no-repeat center; background-size: 100% 100%;}
.bg2{background: url(../pc/img/bg2.png)no-repeat center; background-size: 100% 100%;}
.bg3{background: url(../pc/img/bg3.png)no-repeat center; background-size: 100% 100%;}
.bg4{background: url(../pc/img/bg4.png)no-repeat center; background-size: 100% 100%;}


.part2{overflow: hidden;}
.part2 .left{width: 670px;float: left;height: 300px;
  position: relative;
  background: url(../pc/img/iabout.png) no-repeat;
  margin-right: 10px;}
.part2 .left .about{background: rgba(0,0,0,0.5);width: 400px;
  height: 100px;margin:50px auto;height: 200px;padding:10px;text-align: center;}
.part2 .left .about h2{display: block;text-align: center;color:white;font-size: 24px;font-weight: bold;margin-top:40px;}
.part2 .left .about p{display: block;text-align: center;color: white;font-size: 16px;line-height: 25px;margin-top: 10px;}
.part2 .left .about a{margin-top: 10px;}


.btn{display: inline-block;width: auto;padding:0 12px;border-radius: 15px;line-height: 25px;}
.btn:hover{text-decoration: none;}
.tx-green{color:#8ac626 }

.part2 .right{width: 520px;float: left;overflow: hidden;height: 300px;}
.part2 .right .tops{height:100px; width: 100%}
.part2 .right .tops a{float: left;width: 170px;height: 100px;margin-right: 5px;
padding-top: 70px;display: inline-block;text-align: center;color: white}
.part2 .right .tops a:last-child{margin-right: 0}

.i-guahao{background: url(../pc/img/iguahao.png) #8ac626 no-repeat top;background-position-y:10px;}
.i-tuandui{background: url(../pc/img/ituandui.png) #8ac626 no-repeat top;background-position-y:10px;}
.i-huanjing{background: url(../pc/img/ihuanj.png) #8ac626 no-repeat top;background-position-y:10px;}

.part2 .right .bbanner{margin-top: 10px;height:190px;background: white;position: relative;}
.part2 .right .bbanner .bd{width: 100%;height: 190px;}
.part2 .right .bbanner .bd li img{width: 100%;height: 160px;}
.part2 .right .bbanner .bd li p{line-height: 30px;display: block;padding-right: 80px;}
.part2 .right .bbanner .hd{position: absolute;bottom: 8px;right: 5px}
.part2 .right .bbanner .hd li{width: 12px;height: 12px;display: inline-block;float: left;
cursor: pointer;
  margin:0 5px;color: white;background: #e4e4e4}
.part2 .right .bbanner .hd .on{background: red}


.part3{height: auto;}
.part3 .item{position: relative;width: 570px;float: left;height: 350px;margin-top: 20px;margin-right: 60px }
.part3 .item .content {background: white;height: 100%;}
.part3 .item .content .imgs{width: 100%;height: 160px;background: #e4e4e4;position: relative;}
.part3 .item .content .imgs .box{position: absolute;bottom: 0;left: -10px;
  z-index: 2;padding-left: 30px;
  background: url(../pc/img/box.png) no-repeat left;width:200px;height: 80px; background-size: 100%;padding-top: 14px;}
.part3 .item .content .imgs .box h3{font-size: 24px;color: white;line-height: 30px;display: block;}
.part3 .item .content .imgs .box span{display: block;line-height: 18px;color: white;font-size: 12px;}
.part3 .item .content .bods{padding:10px;overflow: hidden;}
.part3 .item .content .bods .title{line-height: 25px;font-size: 16px;display: block;height: 50px;padding:0 10px;}
.part3 .item .content .bods .ine{width: 100%;height: 1px;border-bottom: 1px dotted #e4e4e4;margin-top: 10px;}
.part3 .item .content .bods .bts a{width: 270px;text-align: center;line-height:40px;border:1px solid #8ac626; 
display: inline-block;float: left;margin:5px 0;margin-right: 10px;}
.part3 .item .content .bods .bts a:nth-child(2),.part3 .item .content .bods a:nth-child(4){margin-right: 0;}
.part3 .item:nth-child(2),.part3 .item:nth-child(4),.part3 .item:nth-child(6){margin-right: 0;}


.part4{overflow: hidden;padding-top: 10px;}
.part4 .title{background: url(../pc/img/ixiangmu.png) #8ac626 no-repeat left;background-position-x:20px;
padding-left: 60px;font-size: 20px;color: white;line-height: 40px;}
.part4 .title .more{display: inline-block;float: right;margin-right: 20px;font-size: 16px;color: white;line-height: 40px;}
.part4 .keyword{text-align: center;overflow: hidden;padding:5px 10px;background: white}
.part4 .keyword label{display: inline-block;margin-top: 15px;}
.part4 .keyword label input{display: inline-block;}
.part4 .keyword label .word{width: 250px;border-radius: 4px;border:1px solid #e4e4e4;line-height: 40px;padding-left: 10px;
float: left;
}
.part4 .keyword label .submit{background: url(../pc/img/search.png) #8ac626 center no-repeat;height: 40px;width: 40px;border-radius: 5px;background-size: 70%;margin-left: 10px;
  border:none;float: left;border:1px solid #8ac626;}

.part4 .keyword .line{margin:10px 0;height: 1px;width: 100%;border-bottom: 1px dotted #e4e4e4}
.part4 .keyword .keys{padding:5px;}
.part4 .keyword .keys a{width: 130px;text-align: center;line-height: 30px;display: inline-block;float: left;}


.part5{overflow: hidden;}
.part5 .title{
padding-right: 10px;font-size: 20px;color: white;line-height: 40px;text-align: right;}

.icon-tuandui{background: url(../pc/img/icon-tuandui.png) #8ac626 no-repeat left;background-position-x:20px;}
.icon-hezuo{background: url(../pc/img/icon-hezuo.png) #8ac626 no-repeat left;background-position-x:20px;}
.part5 .items{width: 580px;float: left;overflow: hidden;margin-right: 40px;background: white}
.part5 .items:last-child{margin-right: 0;}
.part5 .items .sideMen h3{font-size: 18px;line-height: 45px;
  border-bottom: 1px solid #e4e4e4;display: block;padding:0 10px;}
  .part5 .items .sideMen h3 em{width: 26px;height: 26px;float: right;
    display: block;background: url(../pc/img/icoAdd.png) 16px 12px no-repeat;margin-top: 10px;}
.part5 .items .sideMen h3.on em{background-position: 16px -57px;}
.part5 .items .sideMen .on{color:#eb914b;}
.part5 .items .sideMen .item {padding:10px;overflow: hidden;padding-top: 20px;}
.part5 .items .sideMen .item .left{width: 360px;float: left;}
.part5 .items .sideMen .item .left p{color: black;line-height: 20px;display: block;}
.part5 .items .sideMen .item .left .more{float: right;margin-top: 20px;color:#eb914b;font-size: 16px; }
.part5 .items .sideMen .item .right{width: 187px;float: right;
  background:#e4e4e4;height: 177px;}

.part5 .items .paner{height: 350px;width: 100%;overflow: hidden;}

/*footer*/
.topbg{width: 100%;height: 10px;background: #cae28b}
.footer{background:#8ec21d;overflow: hidden;}
.footer .bod{overflow: hidden;}
.footer .bod .item{width: 394px;float: left;height: 250px;padding:15px 30px;}
.footer .bod .item .img{width: 100%;height: auto;}
.footer .bod .item p{line-height: 30px;color: white}
.footer .bod .item .blieft{padding-left: 80px;margin-top: 20px;}
.footer .bod .item h3{display: block;text-align: center;color: white;font-size: 18px;line-height: 35px;}
.footer .bod .item .fnav{width: 100%;margin-top: 10px;}
.footer .bod .item .fnav a{width: 167px;display: inline-block;
  text-align: center;color: white;line-height: 35px;font-size: 16px;}
.footer .lbg{background: url(../pc/img/lbg.png) no-repeat; height: 216px;width: 9px;overflow: hidden;float: left;}

.copyright{height: 60px;line-height: 60px;text-align: center;}
.copyright p{display: inline-block;color: white}
.copyright p a{display: inline-block;color: white}
.bg-power{background:#515151;text-align: center;}


/*rightfloat*/
.rightfloat{position: fixed;right: 10%;padding:5px;bottom: 40%;z-index: 10;
  width: 70px;height: auto;background:white;}
.rightfloat .btns{background: #8ac626;width: 60px;height: auto;}
.rightfloat .btns a{display: block;width: 60px;height: 60px;position: relative;text-align: center;
  border-bottom: 1px solid white;padding-top: 39px;font-size: 12px;color: white}
.rightfloat .btns a:last-child{border:none;}
.rightfloat .i-tel{background: url(../pc/img/itel.png)no-repeat top;background-position-y:5px;}
.rightfloat .i-imgs{background: url(../pc/img/imges.png)no-repeat top;background-position-y:5px;}
.rightfloat .i-qrcode{background: url(../pc/img/iqrcode.png)no-repeat top;background-position-y:5px;}
.rightfloat .i-totop{background: url(../pc/img/itotop.png)no-repeat top;background-position-y:5px;}

.rightfloat .btns a .wxqr{position: absolute;left: -120px;background: white;padding:2px;border-radius: 5px;height: 120px;width: 120px;
display: none;top: -30px;}
.rightfloat .btns a .wxqr img{width: 100%;height: 100%;}
.rightfloat .btns .on:hover .wxqr{display: block}


/*article_article*/

.location{padding:5px 10px;padding-top: 20px;overflow: hidden;border-bottom: 2px solid #8ac626}
.location p{line-height: 22px;}
.location .loc{color: #8ac626;font-size: 22px;display: inline-block;}

.bodys{padding: 10px;overflow: hidden;}
.bodys p{line-height: 22px;}
.bodys .info{text-align: center;padding:10px 0;border-bottom: 1px dotted #e4e4e4;}
.bodys .info h3{font-size: 24px;font-weight: bold;color: black;line-height: 45px;}
.bodys .info .lins{color: #666;}
.bodys .info .lins span{display: inline-block;}
.bodys .content{margin-top: 10px;padding:10px 0;}
.bodys .content img{max-width: 100%!important;height: auto;}

/*list_article*/

.lbody{overflow: hidden;padding:20px 0;}

.lbody .nlist{overflow: hidden;width: 100%;margin-top: 10px;}
.lbody .nlist li{overflow: hidden;margin-bottom: 15px;}
.lbody .nlist li .left{width: 220px;float: left;height: 120px;}
.lbody .nlist li .left img{width: 100%;height: 100%}
.lbody .nlist li .right{float: left;margin-left: 20px;width: 960px;height: 120px;padding-right: 20px;}
.lbody .nlist li .right h4{font-size: 18px;color: black;line-height: 30px;}
.lbody .nlist li .right p{line-height: 22px;}
.lbody .nlist li .right p .read{display: inline-block;color: red;font-weight: bold;}
.lbody .toplist{overflow: hidden;position: relative;}
.lbody .toplist .bd li .left{width: 300px;float: left;position: relative;height: 160px;}
.lbody .toplist .bd li .left img{width: 100%;height: 100%;}
.lbody .toplist .bd li .left .title{background: rgba(0,0,0,0.5);line-height: 30px;position: absolute;
left: 0;bottom: 0;width: 100%;color: white;padding-right: 60px;}
.lbody .toplist .bd li .right{float: left;width: 880px;margin-left: 20px;height: 160px;}
.lbody .toplist .bd li .right h4{line-height: 30px;display: block;
  font-size: 24px;color: black;height: 60px;}
.lbody .toplist .bd li .right p{font-size: 18px;line-height: 25px;}
.lbody .toplist .hd{position: absolute;bottom: 8px;left: 240px;z-index: 2;width: 60px;}
.lbody .toplist .hd li{width: 12px;height: 12px;background:white;border-radius: 12px;display: inline-block;
float: left;margin:0 2px;}
.lbody .toplist .hd .on{background: red}

.pages{padding:0 10px;}
.pages li{display: inline-block;position: relative;padding:0 10px;overflow: hidden;
  line-height: 30px;border:1px solid #e4e4e4;cursor: pointer;height: 30px;}
..pages li a{/*position: absolute;left: 0;bottom: 0;*/width: 100%;height: 100%;
text-align: center;}
.pages .thisclass{background: #8ac626;color: white}
.pages li:hover,.pages li:hover a {background: #8ac626;color: white}

/*list_yiliao*/
.ibody{overflow: hidden;padding:0 10px;}
.ibody .npart1{padding:10px 0;overflow: hidden;}
.ibody .npart1 .left{width: 500px;height: 250px;float:left;background: #e4e4e4;position: relative;}
.ibody .npart1 .left img{width: 100%;height: 100%}
.ibody .npart1 .left p{position: absolute;bottom: 0;left: 0;line-height: 40px;background: rgba(0,0,0,0.5);
color: white;z-index: 2;text-align: center;font-size: 22px;width: 100%;}
.ibody .npart1 .left p span{font-size: 12px;margin-left: 10px;display: inline-block;}
.ibody .npart1 .right{width: 660px;margin-left: 20px;float: left;
  height: 250px;padding-right: 10px}
.ibody .npart1 .right h3{color:#8ac626;display: block;line-height: 35px;
  font-size: 20px; margin-bottom: 10px;}
.ibody .npart1 .right p{line-height: 22px;display: block;}

.ibody .nitem{overflow: hidden;margin-top: 15px;}
.ibody .nitem .ati{height: 50px;position: relative;}
.ibody .nitem .ati .topline{width: 980px;height: 2px;background: #8ac626;}
.ibody .nitem .ati h3{line-height: 48px;width: 100%;position: relative;/*padding:5px 0;*/}
.ibody .nitem .ati h3 span{display: inline-block;margin-top:5px;padding-bottom: 5px;}
.ibody .nitem .ati h3 span img{height: 38px;width: 38px;display: inline-block;float: left;
margin-right: 10px;}
.ibody .nitem .ati h3 .ishiji{line-height: 38px;font-size: 20px;border-bottom: 2px solid red;
margin-right: 10px;float: left;width: 128px;}
.ibody .nitem .ati h3 .gline{height: 45px;border-bottom: 2px solid #8ac626;width: 1042px;float:left;}
.ibody .nitem .ati h3 .more{position: absolute;    right: 95px;
    top: -2px;
    border-radius: 10px;
  background:url(../pc/img/yuyue.png) #ed6942 no-repeat right;padding-right: 30px;font-size: 14px;font-weight: bold;
color: white;line-height: 30px; width: 100px;padding-left: 10px;}
.ibody .neirong{padding:10px;overflow: hidden;}
.ibody .neirong p{line-height: 22px;}
.ibody .neirong .item{float: left;width:570px;background: white;
margin-right: 20px; }
.ibody .neirong .item:last-child{margin-right: 0;}
.ibody .neirong .item .left{width: 45%;overflow: hidden;padding:10px;text-align: center;}
.ibody .neirong .item .left img{width: 216px;display:inline-block;height: auto;}
.ibody .neirong .item .left .more{background:#ed6942;color: white;width: 120px;border-radius: 10px;text-align: center;line-height: 30px;
display: inline-block;margin-top: 20px; }
.ibody .neirong .item .right{float: left;width: 55%;padding:10px;}
.ibody .neirong .item .right img{width: 100%;height: auto;}
.ibody .neirong .item .right h3{line-height: 30px;margin-top: 10px;color:#8ac626;display: block;
font-size: 20px;font-weight: bold;
}
.ibody .neirong .item .right .zhiwei{line-height: 22px;margin-bottom: 5px;
  display: block;color:#8ac626;}
  .ibody .neirong .item .right p{line-height: 20px;}
.bg-gray{}
  .ibody .neirong .shebei{float: left;width: 32%;margin-right: 10px;
    position: relative;}
   .ibody .neirong .shebei:last-child{margin-right: 0;} 
  .ibody .neirong .shebei img{width: 100%;height: auto;}
    .ibody .neirong .shebei p{background: rgba(0,0,0,0.5);position: absolute;
      left: 0;bottom: 0;width: 100%;z-index: 2;text-align: center;color: white;line-height: 30px;}
.ibody .neirong .tlist{
  width: 100%;
  overflow: hidden;
}
.ibody .neirong .tlist .items{
  width: 384px;margin-right: 14px;
  float: left;
  background: #fff;
height: 400px;padding-bottom: 5px;margin-top: 10px;}
.ibody .neirong .tlist .items:nth-child(3),.ibody .neirong .tlist .items:nth-child(6),.ibody .neirong .tlist .items:nth-child(9){margin-right: 0;}
.ibody .neirong .tlist .items .top{
  width: 100%;
  position: relative;}
.ibody .neirong .tlist .items .top img{
  width: 100%;
  height: 280px;}
.ibody .neirong .tlist .items .top p{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 35px;z-index: 2;
  background: rgba(0,0,0,0.5);text-align: center;
  color: white;}
.ibody .neirong .tlist .items .info{line-height: 22px;
  display: inline-block;margin-top: 10px;}



.cass{overflow: hidden;}
.cass .items{width: 590px;background: white;
  float: left;margin-right: 20px;overflow: hidden;font-size: 20px;}
.cass .items:last-child{margin-right: 0;}
.cass .items .title{width: 100%;height:40px;line-height: 40px;
padding-left: 60px;color: white}
.ni-kang{background: url(../pc/img/nikang.png)#8ac626  no-repeat left;background-position-x:10px;}
.ni-txt{background: url(../pc/img/nitxt.png)#8ac626 no-repeat left;background-position-x:10px;}

.cass .items .clist{padding:10px;overflow: hidden;}
.cass .items .clist .tops{padding-bottom: 10px;border-bottom: 1px solid #e4e4e4;overflow: hidden;}
.cass .items .clist .tops .left{width:35%;padding-right: 10px;}
.cass .items .clist .tops .left img{width: 100%;height: 100px}
.cass .items .clist .tops .right{float: left;width: 65%;}
.cass .items .clist .tops .right h3{line-height: 23px;color:red;font-size: 16px;height: 46px;}
.cass .items .clist .tops .right p{line-height: 18px;font-size: 14px;color: black}

.cass .items .clist .list{overflow: hidden;}
.cass .items .clist .list a{display: block;line-height: 35px;background: url(../pc/img/aright.png)no-repeat right;
font-size: 14px;border-bottom: 1px solid #e4e4e4;}
.cass .items .clist .list a:last-child{border:none;}

/*new page start*/
.nline{width: 100%;height: 4px;background: #e4e4e4;margin:5px 0;}
.npart {overflow: hidden;padding:15px 0;}
.npart img{max-width: 100%;height: auto;}
.npart .natitle{display: block;line-height: 30px;font-size: 30px;color:#8dc41e;text-align: center;margin:20px 0;}
.npart .natitle2{display: block;font-size: 22px;text-align: center;line-height: 26px;margin-top: 10px;color: #8dc41e}


.npart .item{position: relative;width: 50%;float: left;}
.npart .item .fx{position: absolute;top: -12px;left: 15px;}
.npart .item .p{padding-top: 80px;border-top: 4px solid #e4e4e4;margin-top: 5px;display: block;font-size: 16px;}

.npart .blist a{width: 580px;display: inline-block;margin-right: 40px;height: 184px;
	margin-bottom: 20px;float: left;background: #e4e4e4;padding:10px;text-decoration: none;cursor: pointer;}
.npart .blist a h2{display: block;line-height: 50px;font-size: 24px;color: #1368c5;}
.npart .blist a p {vertical-align: top;}
.npart .blist a p .da{font-size: 14px;background: #1368c5;color: white;line-height: 30px;margin-right: 10px;
	text-align:center;width: 30px;display: inline-block;border-radius: 30px;vertical-align: top}
.npart .blist a p .p{font-size: 18px;line-height: 25px;display: inline-block;width: 510px;text-align:justify;}
.npart .blist a:nth-child(2),.npart .blist a:nth-child(4),.npart .blist a:nth-child(6){margin-right: 0;}
.npart .blist a:hover{background: #1368c5;color: white;}
.npart .blist a:hover .da{background: white;color: #1368c5;}
.npart .blist a:hover h2{color: white}







